@using MIS333K_Team11_FinalProjectV2.Controllers
@using MIS333K_Team11_FinalProjectV2.Models

@{
    ViewBag.Title = "DetailedSearch";
}

<h2>DetailedSearch</h2>
@using (Html.BeginForm("DisplaySearchResults", "Orders", FormMethod.Get))
{

}